body {
    width: 100%;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}




.logo {
    width: 50px;
    vertical-align: baseline;
}

.top {
    margin-left: 5px;
}

nav {
    width: 523px;
    margin: 0 auto 0 auto;
}

.topbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}


.nav-links {
    text-decoration: none;
    color: #9e0000;
    font-size: 16px;
    display: inline-block;
    padding: 10px;
    border-radius: 2px;
    margin-left: 0px;
    margin-right: 0px;
}

.nav-links:hover {
    background-color: #f0f0f0;
}

.hero-image {
    background-image: url("Te\ Puia\ Resources/20240626_111235.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

.hero-text {
    font-size: 100px;
    color: #9e0000;
    font-family: Archivo Black;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 370px;
    background-color: rgb(240 240 240 / 15%)
}

.page-image {
    width: 30%;
}

footer {
    background-color: #f0f0f0;
    border-top: 2px #ff87df;
}

.socials {
    display: inline-block;
    padding: 10px;
    border-radius: 4px;
    color: #9e0000;
}

.socials:hover {
    background-color: #ffffff;
    color: #7e0000;
}

footer {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.9rem;    
}

p footer {
    margin: -3px;
}
